<!DOCTYPE html>
<html>
<head>
    <title>StudyBuddy</title>
</head>

<body>

    <h1>📚 StudyBuddy</h1>
    
    <h2>Your Tasks</h2>
    <p>
     
    {% for task in tasks %}
     ID: {{ task.id }} | {{ task.title }} | Priority: {{ task.priority }}      
         {% if task.completed %}
            ✅ Completed
        {% else %}
            <a href="/complete/{{ task.id }}/">
                Complete
            </a>
        {% endif %}


        <a href="/delete/{{ task.id }}/">
            🗑️ Delete
        </a>
        </p>
    {% endfor %}
    

</body>
</html>